<template>
  <div class="admin-new-post-page">
<section class="new-post-form">
   <AdminPostsForm @submit="onSubmitted" /> 
</section>
  </div>
</template>

<script>
    import AdminPostsForm from '@/components/admin/AdminPostsForm'
    import axios from 'axios'

    export default {
      layout: 'admin',
      middleware: ['check-auth','auth'],
        components: {
           AdminPostsForm
        },
        methods: {
          onSubmitted(postData){
            this.$store.dispatch('addPost', postData)
            .then(() => this.$router.push('/admin'))
          }
        }
    }
</script>

<style scoped>
.new-post-form {
  width: 90%;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .new-post-form {
    width: 500px;
  }
}
</style>

