<template>
  <div class="admin-page">
    <div class="new-post">
        <AppButton @click="$router.push('/admin/new-post')">Create Post</AppButton>
        <AppButton style="margin-left: 10px" @click="onLogout">Log Out</AppButton>
    </div>
    <section class="existing-posts">
        <h1>Existing Posts</h1>
        <PostList :posts="loadedPosts" isAdmin/>
    </section>
  </div>
</template>

<script>
  // import PostList from '@/components/posts/PostList'
  // import AppButton from '@/components/UI/AppButton'

export default {
  layout: 'admin',
  middleware: ['check-auth', 'auth'],
    components: {
      //  PostList,  //**** LOADED FROM PLUGINS SETUP IN NUXT CONFIG
       // AppButton
    },
    computed: {
      loadedPosts() {
        return this.$store.getters.loadedPosts
      }
    },
    methods: {
        onLogout(){
          this.$store.dispatch('logOut');
          this.$router.push('/admin/auth')
        }
      }
}
</script>

<style scoped>
.admin-page {
  padding: 20px;
}

.new-post {
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.existing-posts h1 {
  text-align: center;
}
</style>
