<template>
  <div class="admin-post-page">
      
      <h3>Edit Post: {{$route.params.postId}}</h3>
      
      <section class="update-form">
          <hr>
          <AdminPostsForm :post='loadedPost' @submit='onSubmitted'/>
      </section>
  </div>
</template>

<script>
import AdminPostsForm from '@/components/admin/AdminPostsForm'
import axios from 'axios'
    export default {
        layout: 'admin',
        middleware: ['check-auth', 'auth'],
        components: {
            AdminPostsForm
        },
        asyncData(context) {
            return context.app.$axios
            .$get(`/posts/${context.params.postId}.json`)
            .then(data =>{
                console.log(data)
               return {
                   loadedPost: {...data, id: context.params.postId}
                   }
            })
            .catch(e=> context.error(e))
        },
        methods: {
            onSubmitted(editedPost){
          this.$store.dispatch('editPost', editedPost)
          .then(() =>{
              this.$router.push('/admin')
          })
            }
        }
    }
</script>

<style scoped>

.admin-post-page {
    text-align: center;
}
.update-form {
    text-align: left;
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .update-form {
    width: 500px;
  }
}
</style>

