<template>
  <div class="posts-page">
     <PostList :posts="loadedPosts"/>
  </div>
</template>

<script>
    import PostList from '@/components/posts/PostList'
  export default {
      middleware: 'log',
    components: {
        PostList
    },
    computed: {
        loadedPosts () {
            return this.$store.getters.loadedPosts
        }
    }
   
  }
</script>

<style scoped>
    .posts-page {
        display: flex;
        align-items: center;
        justify-content: center
    }


</style>

