<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>



  export default {
    data() {
      return {
      }
    }
  }
</script>

<style>
html
{
  font-family: "Open Sans";
}

body {
  margin: 0px;
}
</style>
