<template>
<div class='HOME-PAGE'>
<section class="intro">
  <h1>Get the Latest Crypto News</h1>
</section>
<PostList :posts="loadedPosts"/>
</div> 
</template>

<script>

// import PostList from '@/components/posts/PostList' these are now loaded from plugind
  export default {
    middleware: 'log',
   components: {
    //    PostList
   },
    computed: {
      loadedPosts() {
        return this.$store.getters.loadedPosts
      }

    }
  }
</script>

<style scoped>
.intro {
  height: 300px;
  position: relative;
  padding: 30px;
  box-sizing: border-box; 
  background-position: center;
  background-image: url('~assets/images/main-page-background.jpg');
  background-size: cover;
}

.intro h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  font-size: 1.5rem;
  color: black;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .intro h1 {
    font-size: 2rem;
  }
}

/*.featured-posts {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
*/

</style>
